* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

@media (min-width: 1280px) {
    video {
        width: 100vw;
    }
} 

section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.one, .three{
    height: 665px;
    background-color: grey;
    overflow: hidden;
}

.two {
    padding-top: 60px;
    height: 750px;
    background-color: #aa161d;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.two img {
    max-height: 400px;
    padding-top: 30px;
}

.blogPost {
    margin-top: 30px;
    height: 450px;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: grey ;
    z-index: 3;
    overflow: hidden;
}

.two a:visited, .two a:link, .four a:visited, .four a:link  {
    color: rgb(204, 204, 204);
    text-decoration: none;
    text-align: center;
    font-size: small;
}

.four {
    height: 750px;
    background-color: rgb(22, 22, 22);
}

.four img {
    margin-top: 60px;
}

#nav {
    position: fixed;
    top: 10px;
    width: 100%;
    overflow: hidden;
    z-index: 3;
}

#navtext {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

#navtext a:visited, #navtext a:link {
    color: white;
    text-decoration: none;
}

#navtext a:hover {
    color: rgb(151, 151, 151);
    text-decoration: none;
}

.five {
    position: relative;
    height: 140px;
    gap: 10px;
    background-color: rgb(0, 0, 0);
}

footer p{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

footer a{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

footer a:visited, footer a:link, footer p {
    
    color: rgb(107, 107, 107);
    text-decoration: none;
    font-size: x-small;
    text-align: right;
}

.kang {
    position: fixed;
    width: 100%;
    top: 69%;
    text-align: center;
    -webkit-text-stroke: 1.5px white;
    color: transparent;
    z-index: 9999;
}
