* {
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    
}

body {
    background-color: rgb(22, 22, 22);
    margin: 0px;
}

.container {
    display: block;
    border: 1px solid rgb(207, 207, 207);
    max-width: 600px;
    min-height: 550px;
    margin: 100px auto 100px auto;
    font-size: small;
    background-color: rgb(20, 20, 20);
    padding: 15px;
}

.blogtext {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
    color: rgb(255, 255, 255);
    /*padding-top: 100px;*/
}

.blogtext h3, .blogtext h1 {
    color: #eeaeb1;
    font-weight: lighter;
}

/* Nav Bar */

#nav {
    position: fixed;
    padding: 10px;
    width: 100%;
    z-index: 9999;
    top: 0px;
}

#navtext {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

#navtext a:visited, #navtext a:link {
    color: white;
    text-decoration: none;
}

#navtext a:hover {
    color: #aa161d;
    text-decoration: none;
}

/* Footer */

.five {
    position: relative;
    bottom: 0px;
    height: 140px;
    gap: 10px;
    background-color: #aa161d;
}

footer p{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

footer a{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

footer a:visited, footer a:link, footer p {
    
    color: rgb(34, 34, 34);
    text-decoration: none;
    font-size: x-small;
}
